<h1>productos</h1>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">{{prod.nombre}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{prod.marca}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{prod.precio}}</a>
<button><a href="/">volver</a></button>
<button><a href="/api/productos">ver listado de productos</a></button>

</div>

